.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
    min-height: 100vh;
    background-color: var(--background);
    color: var(--primary-font-color);
  }
  
  .heading {
    padding: 2rem 30rem 0;
    font-size: 2rem;
    justify-content: center;
  }
  
  .employeeDetails {
    display: grid;
    grid-template-areas: 
      'a a a a a a'
      'ic first last id dep pos';
    background-color: var(--background-start-rgb);
    grid-template-columns: 5vw 15vw 15vw 10vw 15vw 15vw;
    justify-items:start;
    row-gap: 40px;
    padding: 0 40px ;
  }
  
  .mainTitle {
    grid-area: a;
    margin-top: 5rem;
    font-size: 5rem;
  }
  
  .icon {grid-area: ic;}
  .first {grid-area: first;}
  .last {grid-area: last;}
  .id {grid-area: id;}
  .pos {grid-area: pos;}
  
  .map {
    display: grid;
    grid-template-areas: 
    'b c d e f g';
    background-color: var(--background);
    padding: 10px 0 15px;
    grid-template-columns: 10vw 10vw 10vw 10vw 10vw 10vw;
    align-items: center;
    font-size: var(--primary-font-size);
  }
  
  .map:nth-child(6) {
    grid-row-end: span 6;
  }
    
  .mapIcon {grid-area: b;}
  .mapFirst {grid-area: c;}
  .mapLast {grid-area: d;}
  .mapId {grid-area: e;}
  .mapPos {grid-area: g;}
  